.box1{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: crimson;

    position: relative;
    top: 50px;
    text-align: center;
}
.box2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: cadetblue;

    position: relative;
    left: 140px;
    text-align: center;
  
}
.box3{
    width: 200px;
    height: 200px;
    border-radius: 40%;
    background-color: chartreuse;

    position: relative;
    bottom: 29px;
    left: 100px;

    text-align: center;
}
.box4
{
    width: 200px;
    height: 201px;
    background-color: blueviolet;
    border-radius: 10%;
    position: absolute;
    /* top: 0%; it'll move to top left corner*/
}
.box5{
    height: 220px;
    width: 240px;
    background-color: rgb(46, 12, 12);
    border-radius: 30%;
    position: absolute;
    top: 289px;
    position: fixed;
}
.box6{
    height: 150px;
    width: 150px;
    background-color: hotpink;
    position: sticky;
    top: 0px;
    bottom: 100px;
}