a:link{
    color: rgb(190, 220, 20);
}

a:visited{
    color: rgb(205, 221, 221);
}
a:hover{
    color: rgb(19, 128, 0);
}
a:active{
    color: rgb(208, 15, 105);
}

button{
    background-color: rgb(218, 100, 100);
}
button:hover{
    background-color: green;
}
li:nth-child(2n)
{
    background-color: rgb(13, 111, 210);
}
li:nth-child(3n+1)
{
    color: chartreuse;
}
li:nth-child(odd)
{
    background-color: hotpink;
}

/*Shadows*/
h1{
    text-shadow: 0px 4px 0px rgb(79, 53, 7);
}
h2{
    text-shadow: -5px 0px 1px orangered;
}
h3:hover{
    text-shadow: 2px 3px 2px lime;
}