body
{
   background-color:darkslategray;
}
h1
{
    color: aqua;
}
h2
{/*It'll Override the by-default color and turn into the mentioned color*/
    color:gold;
}
h2:hover    /*it'll change color to this color when hover on it*/
{
    color: red;
}
.worldcup-text{
    background-color: crimson;
}
h3{
    color: coral;
}

#runs_sr_id:hover
{
    color: blueviolet;
    border-style: groove;
}
.table_head_class
{
    color:aqua;
}/*classes can Override the Normal tags but not the ID's*/
.table_head_class:hover 
{
    color: red;
}/*This is the diff. b/w class and id's-(when you hover on ipl,odi table all those are changing their color.But in the Runs,Sr id's conditions only the word that you're hovering that's the one behaving diff.)*/

#h2_stats_id
{
    color: cornflowerblue;
}
#h2_stats_id:hover
{
    color: rgb(217, 222, 232);
}
#runs_sr_id
{
    color: deepskyblue;
}/*ID's will Override the normal tags and also the CLASSES aswell color and turn into the mentioned color*/

.skills_ul_class
{
    color: forestgreen;
}
#ol_list_id1
{
    color: rgb(86, 86, 188);
}
#ol_list_id2
{
    color: chartreuse;
}
a{
    color: deepskyblue;
}
a:hover
{
    color: rgb(13, 228, 13);
}
a:visited
{
    color: red;
}
button{
    background-color: crimson;
    color: rgb(242, 248, 248);
    border:solid rgb(173, 240, 173);
    height: 30px;
    width: 110px;
}
u:hover{
    color: rgb(225, 215, 225);
}

ul > li
{
    color: honeydew;
}/*For sub-UL it won't apply, but for UL under OL it'll work*/

/* ul li {
    color:rgb(240, 236, 237);
} */
/* these are not working I guess and there is also ul+li{} it is also not working */
#table_id{
    border-radius: 1px;
}
table{
    border-bottom: 2px solid;
    border-color: azure;
    border-top: 2px solid;
    border-left: 2px dotted;
    border-bottom: 2px solid;
    border-right: 2px solid;

    border-style:outset;
}
th{
   border-style:groove;
}
#th_gap_id{
    border-style: none;
}
td{
    color:rgb(219, 198, 218);
    border-style:solid;
}
/*We can also call a class by multiple names.Just use other name by givin' space and call it*/
/*
SELECTORS{
PROPERTIES:VALUE;
}*//*formula*/

