body
{
    /* font-size: 2cm; */
    /* font-style: italic; */
    /* font-weight:bold; */
    font-size: 1.25em;/*like 1 into 1.25*/

    margin: 0px;/*you can apply it only inside body*/
 
}
#second_p{
    text-transform: capitalize;/*like InitCap*/
    text-transform: uppercase;
    text-decoration: overline;/*line on text*/
    text-align: justify;/*it'll adjust the texts and make proper sentence by clearing gaps*/
}
h3{
     text-align: right; 
}
#p_id{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;/*MORE than ONE becouse If first one doesn't work on web 2nd will do. and similarly rest of the...*/
}
#Borders{
    border-style:dashed;
}
#Borders_p_id1{
   border-style: outset;
   border-color: chocolate;
   border-radius: 100px;
   padding: 15px;
}
#Borders_p_id2{
    border-style: solid;
    border-width: 10px;
    padding-left: 10%;
    border-left-color: chartreuse;
    border-right-color: chartreuse;
    border-top-color: rgb(142, 18, 18);
}
body{
    background-image: url("/abd_for_css.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
}
#box{
    color: ghostwhite;
    border: 10px solid brown;
    height: 300px;
    width: 300px;
    background-color: darkslategrey;
    /* margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px; */
    /*All the 4 can done by using margin */
    margin: 50px;
    padding-left: 10%;
}
#circle
{
    height: 250px;
    width: 250px;
    border-width: 2px;
    border: 5px solid turquoise;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    
    background-image: url('/abd_for_css.webp');
    background-position: center;
    background-size: cover;
}