body
{
    /* font-size: 2cm; */
    /* font-style: italic; */
    /* font-weight:bold; */
    font-size: 1.25em;/*like 1 into 1.25*/
}
#second_p{
    text-transform: capitalize;/*like InitCap*/
    text-transform: uppercase;
    text-decoration: overline;/*line on text*/
    text-align: justify;/*it'll adjust the texts and make proper sentence by clearing gaps*/
}
h3{
     text-align: right; 
}
#p_id{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;/*MORE than ONE becouse If first one doesn't work on web 2nd will do. and similarly rest of the...*/
}
#Borders{
    border-style:dashed;
}
#Borders_p_id1{
   border-style: outset;
   border-color: chocolate;
   border-radius: 100px;
   padding: 15px;
}
#Borders_p_id2{
    border-style: solid;
    border-width: 10px;
    padding-left: 10%;
    border-left-color: chartreuse;
    border-right-color: chartreuse;
    border-top-color: rgb(142, 18, 18);
}
body{
    background-image: url("/abd_for_css.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}